<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Bootstrap DataTable Example</title>

    <!-- Required for bootstrap  -->
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>

    <style>
        div.heading {
            margin-left: 1em;margin-right: 1em;
            padding:0.5em;
            text-align:justify;
        }
        div.content {
            margin-left: 2.5em;margin-right: 2.5em;
            padding:0.5em;
            text-align:justify;
        }
        p {
            padding-bottom: 0.1rem;margin:0em;text-align:justify;
        }
        .row {
            margin-bottom: 1em;
        }
    </style>
</head>

<body>

    <div class="container col-sm-6"
         style="padding-top:3rem">
        <h2 style="text-align: center;">DataTable Examples</h2>
        <hr />
        <div class="heading">
            <p>
                This page shows three examples of working with DataTables: 
                <ul class="no-points">
                    <li>All data pushed by server</li>
                    <li>All data pulled by client</li>
                    <li>Paged data queried by client (managed by server)</li>
                </ul>
            </p>
        </div>
        <hr />

        <div class="content">
            <div class="row">
                <div class="col col-sm-2">
                    <a th:href="@{persons/example1}">Example 1</a>
                </div>
                <div class="col col-sm-10">
                    <p>Server returns all data with the page. DataTable manages paging of the whole dataset on the client side.</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-2">
                    <a th:href="@{persons/example2}">Example 2</a>
                </div>
                <div class="col col-sm-10">
                    <p>
                        Scaffolding of the table is rendered on the server side, the page is sent to a client with no data. DataTable prforms ajax call to poll the whole data-set. Paging is managed by DataTable on the client side.
                    </p>
                    <p>
                        Just the scafolding of the table is rendered on the server side, than the page is give to client just with a hedar and/or footer. On page load the data is polled from the server by ajax call. The paging of the hole recordset is managed by the datatable in the client side; the same as in the first example.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-2">
                    <a th:href="@{persons/example3}">Example 3</a>
                </div>
                <div class="col col-sm-10">
                    <p>
                        Implemented!
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
