<!DOCTYPE html>
<html lang="en"
>

<head>
    <meta charset="UTF-8" />
    <title>Bootstrap DataTable Example</title>

    <!-- Required for bootstrap  -->
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>

    <style>
        div.heading {
            margin-left: 1em;margin-right: 1em;
            padding:0.5em;
            text-align:justify;
        }
        div.content {
            margin-left: 2.5em;margin-right: 2.5em;
            padding:0.5em;
            text-align:justify;
        }
        
        p {
            padding-bottom: 0.1rem;margin:0em;text-align:justify;
        }
        
        .row {
            margin-bottom: 1em;
        }
    </style>
</head>

<body>

    <div class="container col-sm-6"
         style="padding-top:3rem">
        <h2 style="text-align: center;">DataTable Examples</h2>
        <hr />
        <div class="heading">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quaerat at id ut saepe alias facere dolore quae sint perspiciatis. Hic dolorum ratione nihil quia sit perferendis porro minus illo? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi omnis, aliquid similique doloribus sequi vitae sunt magnam, dolores distinctio ut cum quis non, ullam quibusdam quaerat repellendus commodi explicabo laboriosam.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia distinctio sit nesciunt vel ut? Hic fuga dignissimos iusto magni commodi inventore, nostrum ea veniam. Eaque ab earum aperiam similique qui?
            </p>
        </div>
        <hr />

        <div class="content">
            <div class="row">
                <div class="col col-sm-2">
                    <a href="index.html">Example 1</a>
                </div>
                <div class="col col-sm-10">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptate nisi, modi deleniti nesciunt ex molestias doloremque adipisci saepe optio eaque, quasi eius delectus minima repudiandae? Laboriosam, inventore odit? Doloremque!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-2">
                    <a href="index.html">Example 2</a>
                </div>
                <div class="col col-sm-10">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi ipsam aperiam ad itaque non sunt hic vero, ab natus dolore dignissimos excepturi accusantium sint unde quo, aspernatur esse consequuntur?
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, ullam minima beatae repellat temporibus fuga quae pariatur voluptate assumenda. Ut vel perferendis autem iusto dolores aut sunt qui est repellat.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-2">
                    <a href="index.html">Example 3</a>
                </div>
                <div class="col col-sm-10">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde non eum earum praesentium fugiat eos dicta voluptates quae possimus assumenda, vero dolor nesciunt minima error quidem. Corrupti reiciendis amet repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad reprehenderit impedit ipsam ratione nihil possimus laudantium illum, quidem voluptatum. Deleniti perspiciatis provident repudiandae, illo expedita voluptates in asperiores nemo quae!
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>
